/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
  font-family:"PT Sans";
}

body {
  font-family: "PT Sans", "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color:#FFFAFA;
}
.h0{
  font-style: italic;
  font-size:1.5vw !important;
  
}
h1 {
  font-style: italic;
  color: #373fff;
}

h2 {
  text-align:center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

table {
  text-align:center;
}

th {
  text-align:center;
}

form {
  box-shadow: -1px 1px 2px 2px #888888;
  margin-bottom: 25px;
  background-color: transparent;
  border-color:transparent;
  display: block;
  width: 100%;
  border-radius: 3px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

.client-input{
  width:15% !important;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px grey;
  cursor: pointer;
}

button:hover {
  background-color: #E0E0E0;
}

button:active {
  box-shadow: none;
}

.schedButton {
  background-color:#ff66b3 !important;
  border-color:#ff66b3 !important;
  
}
.schedButton:hover {
  background-color:#ff4da6 !important;
  border-color:#ff4da6;
}

li {
  margin-bottom: 0px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.header-div{
  padding-top:0px; 
  padding-bottom:10px; 
  margin-top:20px; 
  margin-bottom:20px; 
  background-color:#FFFAFA !important; 
}
.navbar-default {
    background-color: #FFA98F;
    border-color: #FFA98F;
}

.bg-nail{
  background:"https://cdn.glitch.com/5c937ff1-8f2d-4ef2-9648-a7461abff9cc%2FDiannNails.jpg?1533871221078";
}


.shadow{
  border:30px black;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  box-shadow: 10px 10px 8px 0px #888888;
}

.circle-headshot{
  border-color:#ff99cc;
  border-radius: 50%;
  box-shadow:4px 4px 3px 0px #ff99cc;
}
@media only screen and (min-width: 1000px) {
  .align-margin {
    margin-top:-10px;
    margin-left:auto;
    margin-right:auto;
  }
  .banner-img{
    height:auto; 
    width:40%;
  }
  
  .left-img{
    width:90%; 
    height:auto;
  }
}
@media only screen and (max-width: 999px) {
  .align-margin {
    margin-top:45px;
    margin-bottom:45px;
    margin-left:auto;
    margin-right:auto;
  }
  .banner-img{
    height:auto; 
    width:80%;
  }
  .left-img{
    width:60%; 
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

ul {
  list-style: none;
}

footer {
  page-break-after: always;
}

.apptBTN{
  width: 100%;
}

.appt-spacing{
  padding-top:1%;
  padding-bottom:1%;
  padding-left:20%;
  text-align:left !important;
}

.section-header {
  text-align:center !important; 
  background-color: #ff99cc !important;
  font-style: italic;
}

.box-header {
  padding-top:5%;
  text-align:center;
}

.btn-def {
  background-color:transparent;
  box-shadow: 0px 0px 0px 0px #888888;
}

.pAlign{
  margin-left:auto;
  margin-right:auto;
}

.navbar-toggler-icon{
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}